.btns {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.btns button {
  height: 50px;
  width: 60px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}
.container {
  padding: 5px;
  width: 350px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 16px;
}
span {
  font-size: 18px;
  margin-left: auto;
  text-align: end;
  font-weight: 600;
}

.delete {
  background-color: red;
}
.edit {
  background-color: blue;
}
.edited {
  color: red;
}
